@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Houssem Eddine Dey */

body{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
header{
    background-image: url(../img/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    margin-bottom: 137px;
}
.container{
    width: 1640px;
    margin: 0 auto;
}
.navigation-bar{
    background-color: #ffffff;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 148px;
    position: relative;
}

nav img{
    padding: 30px 0 40px 0;
}
ul{
    display: flex;
    gap: 65px;
    padding-top: 95px;
}
ul a{
    text-decoration: none;
    color: #766658;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
}
.active,
a:hover{
    color: #000000;
    transition: .5s;
}

/* ******************* MAIN ********************** */
main{
    text-align: center;
}
h1{
    font-size: 80px;
    line-height: 95px;
    color: #FFFFFF;
    margin-bottom: 55px;
}
main a{
    color: #FFFFFF;
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    text-decoration: none;
    border: 4px solid #ffffff;
    padding: 20px 30px;
}
/* SECTION */
section{
    background-color: #000000;
    padding: 40px 30px 56px 30px;
    margin-bottom: 150px;
}
.first-p{
    font-size: 38px;
    line-height: 60px;
    color: #000000;
    width: 1260px;
    margin: 0 auto 102px auto;
    text-align: center;
}
.sec-div{
    display: flex;
}
.sec-div img{
    width: 805px;
    height: 897px;
    padding-right: 30px;
}
.sec-div div{
    color: #FFFFFF;
}
.sec-div h2{
    font-size: 60px;
    line-height: 72px;
    font-weight: 500;
    margin: 20px 0;
}
.vivre{
    color: #666156;
    font-size: 100px;
    line-height: 72px;
}
.sec-div h3{
    font-size: 24px;
    line-height: 72px;
    letter-spacing: 2.4px;
}
.sec-div p{
    line-height: 32px;
    margin-bottom: 40px;
}
.para-one{
    font-size: 24px;
}
/* ------------- ASIDE --------------- */
aside h2{
text-align: center;
font-size: 60px;
line-height: 55px;
margin-bottom: 65px;
font-weight: 500;
}
.first{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.vedettes{
    border: 1px solid #000000;
}
.txt{
    
    padding: 30px 35px 15px 35px;
}
.first div h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.first div p{
    font-size: 16px;
    margin-bottom: 20px;
}
.first span{
    color: #666156;
    font-size: 24px;
    font-weight: 500;
}
/* *************** FOOTER *************** */
footer{
    background-color: #000000;
    height: 950px;
}
.footer{
    color: #FFFFFF;
    display: flex;
}
.footer h2{
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.description{
    padding: 160px 165px 0 0;
}
.description img{
    margin-bottom: 50px;
}
.description p{
    font-size: 20px;
    line-height: 32px;
}
.description,
.contact{
    width: 387px;
}
.contact{
    padding: 325px 170px 0 0;
}
.contact p{
    margin-bottom: 20px;
}
.contact a{
    color: #FFFFFF;
    text-decoration: none;
}
.input,
input{
    width: 526px;
}
.input{
    padding-top: 326px;
}
label{
    font-size: 20px;
    line-height: 32px;
}
input{
    height: 40px;
    margin: 20px 0 40px 0;
    font-size: 20px;
    line-height: 32px;
    padding: 15px;
}
input:placeholder-shown{
    font-size: 20px;
    line-height: 32px;
    
}
.input a{
    padding: 30px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    border: 4px solid #FFFFFF;
    margin-top: 60px;
}